

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
   }
  
a:active {
    color: #1a62fd;
}

body.body{
    background-color: rgb(26,42,60);
    height: auto;
    margin: 0;
}

header.header{
    background-color: rgb(23,29,37);
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

header.header a{
    margin:20px;  
}

div.icon{
    display: flex;
    padding: 1%;
    align-items: center;
}

div.icon a{
    color:rgb(170, 37, 170);
    font-size: 30px;
    font-weight: 1000;
}

div.menu{
    margin: 0 auto;
}

div.login{
    padding: 1%;
}







