* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff; /* Цвет ссылок */
    text-decoration: none;
   }

.site-header{
    background-color: rgb(23,29,37); /*задний фон головы*/
    height: 100px; /*размер заднего фона головы*/
}

.head-panel {
    padding: 2%;
}

.game-icon{
    padding: 10px;
    float: left;
}

table.text{
    color: white; /*цвет текста в таблице*/
    border-spacing: 10px; /*расстояние между объектами*/
    margin: 0 auto; /*выравнивание*/
    width: 50%;

}

td.head-text{
    color: rgb(160, 12, 160);
    margin-right: 100px;
}










.container-body{
    background-color: rgb(26,42,60);
    height: 1000px;
}

