* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff; /* Цвет ссылок */
    text-decoration: none;
   }

.site-header{
    background-color: rgb(23,29,37); /* rgb(26,42,60)*/
    height: 100px;
}

table.text{
    color: white;
    width: 50%;
    border-spacing: 10px;
}

table.text td{
    vertical-align: top;
}

td.head-text{
    text-align: left;
}

td.head_but{
    text-align: right;
}

.container-body{
    background-color: rgb(26,42,60);
    height: 1000px;
}

#but {
    background-color: blue;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    content: 'Новый текст';
}

#but::after {
    content: 'Новый текст';
}

#but:hover {
    background-color: rgb(29, 98, 121);
    border: 3px dotted #3a7999;
	color: #3a7999;
    background: rgba(0,0,0,0);
}
